 body{
  background-image: url(IMG-20251116-WA0012.jpg);
    border-radius: 0px;
    padding: 4%;
    border: 10px solid;
    text-align: center;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}
.card-group{
    justify-content: space-between;
    padding: 0px;
    display: flex;
    flex-direction: row;
    margin: 8px;
}
/* .btn{
    font-size: 40px;
    color: red;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    display: flex;
} */
.col-md-4{
     width: 100px;
      height:200px;
}
.card{
     border: 4px solid;
     display: flex;
     padding: 0px;
     gap: 100px;
     margin: 0px;
     text-align: center;
}
.card-group{
     border: 4px solid;
     display: flex;
     padding: 0px;
     gap: 100px;
     margin: 0px;
     text-align: center;

    
}
.card-link{
      width: 100px;
      height:500px;
      justify-content: space-between;

}
.ghyt{
    text-align: center;
    font-size: 50px;
    font-style: italic;
}
.title{
    text-align: center;
    font-weight: 80px;
    font-style: oblique;
}
.container{
     margin: 0px;
     width: 50%;
     display: flex;
     flex-wrap: wrap;
}
.container1{
    color: palevioletred;
}
.container3 {
   background-color: greenyellow;
}
.container0{
    background-color: deeppink;

}
.build{
    border: 5px; 
    border-radius: 10px solid black ;
    display: flex;
    justify-content: center;
}
.footer{
    background-color: darkslategray;
}
.nav-link:hover{
    background-color: rgb(83, 105, 231);
    box-shadow: 0 12px 25px;
    transform: translateX(-5px);
}
.img:hover{
    background-color: rgb(198, 236, 147);
    box-shadow: 0 12px 25px;
    transform: translateX(-5px);
}
