body{
  background-image: url(./homepage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family:'Times New Roman', Times, serif;
}

.build {
  height: 90vh;
  display: flex;
  align-items: center;
  color: #fff;
}

.overlay {
  background: rgba(0, 0, 0, 0.55);
  padding: 60px; 
  border-radius: 10px;
}

footer{
  color: #bbb;
  text-align: center;
}


@media (max-width: 768px) {
  
  .overlay {
    padding: 40px;
    margin: 0 20px; 
  }

  
  .build {
    justify-content: center;
    align-items: flex-start; 
    height: auto; 
    padding: 50px 0; 
  }
}


@media (max-width: 480px) {
 
  .overlay {
    padding: 30px 20px; 
    border-radius: 5px; 
    width: auto;
  }

  
  .overlay p, .overlay h1, .overlay h2 {
    font-size: 1.1em;
  }

}
