body{
    background-image: url(IMG-20251116-WA0012.jpg);
    padding: 20px;
    border-radius: 20px;
    background-color: brown;
    font-family: 'Times New Roman', Times, serif;
}
.card{
     padding: 20px;
     margin: 0px;
     border: 4px solid;
    display: flex;
    gap: 20px;
}




