 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    body {
    background: #f4f4f4;
    padding: 30px;
    background-image: url(IMG-20251116-WA0012.jpg);    
    background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family:'Times New Roman', Times, serif;
    }

    .title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: #222;
    }

    .card-container {
    display: center;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
    padding: 10px;
    }

    .card {
    background: #fff;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
    transition: 0.3s ease;
    }

    .card:hover {
    transform: translateY(-8px);
    box-shadow: 0px 8px 25px rgba(0,0,0,0.2);
    }

    .card img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    }

    .card-content {
    padding: 18px;
    }

    .card-content h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
    }

    .card-content p {
    font-size: 0.95rem;
    color: #555;
    margin-bottom: 15px;
    line-height: 1.5;
    }

    .btn {
    display: inline-block;
    padding: 10px 16px;
    background: #0073ff;
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
    font-size: 0.9rem;
    transition: 0.3s;
    }

    .btn:hover {
    background: #0053c7;
    }













