body{
    background-image: url(homepage.jpg);
    padding: 20px;
    border-radius: 20px;
    background-color: gray;
    font-family: 'Times New Roman', Times, serif;
}
.card{
     padding: 20px;
     margin: 0px;
     border: 4px solid;
}

