      body { 
            padding-top: 70px;
            padding: 30px;
            background-image: url(IMG-20251116-WA0012.jpg);    
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            font-family:'Times New Roman', Times, serif;
        }

        h1.title {
            text-align: center;
            color: white;
            margin-top: 40px;
            font-weight: 700;
        }

        .card-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
            gap: 40px;
            padding: 10px;
            max-width: 1200px;
            margin: auto;
        }

        .card {
            background: #111;
            color: #fff;
            border-radius: 12px;
            overflow: hidden;
            border: none;
            box-shadow: 0 0 10px rgba(255,255,255,0.1);
            transition: transform .3s;
        }

        .card:hover {
            transform: translateY(-5px);
        }

        .card img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }

        .card-content {
            padding: 15px;
        }

        .card-content h3 {
            font-size: 1.3rem;
            font-weight: bold;
        }

        .card-content p {
            font-size: 0.95rem;
            opacity: 0.9;
        }

        .btn {
            background: #0d6efd;
            color: #fff;
            width: 100%;
            border-radius: 8px;
            margin-top: 10px;
            font-weight: 600;
        }

        @media(max-width: 576px) {
            .card img {
                height: 160px;
            }
            h1.title {
                font-size: 1.6rem;
            }
        }
        .footer {
        text-align: center;
        padding: 12px;
        background: #4CAF50;
        color: white;
        border-radius: 0 0 8px 8px;
        margin-top: 20px;
    }



    
    

   

  
   



   








