body{
    background-color: lightgray;
    padding: 20px;
    border-radius: 8px solid;
     border: 20px solid ;
     color: black;
     font-family: 'Times New Roman', Times, serif;
}

.mb-4 {
    font-size: 50px;
    font-style: italic;
}
.mb-4{
    font-size: 20px;
    font-style: italic;
    
}



.btn34{
    font-size: 50px;
    font-style: italic;
    text-align: center;
}


.moving{
    width: 100px;
    height: 50px;

}

.container{
      max-width:620px;
      margin:0 auto;
      background:#fff;
      padding:1.5rem;
      border-radius:12px;
      box-shadow:0 6px 18px rgba(2,6,23,0.06);
}

