body{
    background-color: lightgray;
    padding: 20px;
    border-radius: 8px solid;
     border: 20px solid ;
     color: black;
     font-family: 'Times New Roman', Times, serif;
}

.mb-4 {
    font-size: 50px;
    font-style: italic;
}
.mb-4{
    font-size: 20px;
    font-style: italic;
    
}



.btn34{
    font-size: 50px;
    font-style: italic;
    text-align: center;
}


.moving{
    width: 100px;
    height: 50px;

}

.container{
  margin-top: 20px;
  margin-right: 15px;
  margin-bottom: 20px;
  margin-left: 15px;

}



