   body {
    background: #f4f4f4;
    padding: 30px;
    background-image: url(IMG-20251116-WA0012.jpg);    
    background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
   }
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Times New Roman', Times, serif;
    }


    h1 {
        text-align: center;
        color: #111;
        margin-bottom: 30px;
        font-size: 38px;
    }

    .services-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 25px;
        width: 90%;
        margin: auto;
    }

    .service-card {
        background: #fff;
        border-radius: 15px;
        padding: 25px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.1);
        transition: 0.3s;
        border: 1px solid #eee;
    }

    .service-card:hover {
        transform: translateY(-8px);
        box-shadow: 0 15px 25px rgba(0,0,0,0.15);
    }

    .service-card img {
        width: 100%;
        border-radius: 12px;
        height: 180px;
        object-fit: cover;
        margin-bottom: 15px;
    }

    .service-card h3 {
        font-size: 22px;
        margin-bottom: 10px;
        color: #222;
    }

    .service-card p {
        font-size: 15px;
        color: #555;
        line-height: 1.6;
    }





