body{
    color: white;
     background-image: url(IMG-20251116-WA0012.jpg);
     text-align: center;
    font-family: 'Times New Roman', Times, serif;
     background: #f4f4f4;
    padding: 30px;   
    background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


